<div class="snackbar primary" id="deleteButtonSuccess">Success!</div>

<script>
    async function deleteRow(element) {
        let prompt = await confirm("Are you sure you want to delete this row?");

        if (!prompt) {
            return
        }

        var request = {
            method: "POST"
        }

        var body = {}

        tableColumns = document.getElementsByTagName("thead").item(0).children.item(0).children
        columnValues = element.parentElement.parentElement.children
        for (let i = 0; i < columnValues.length-1; i++) {
            if (tableColumns.item(i).innerText.includes("ID")) {
                body[tableColumns.item(i).innerText] = columnValues.item(i).innerText
            }
        }

        request.body = await JSON.stringify(body)
        response = await fetch("http://localhost/delete/" + document.URL.split("/").pop(), request)
        if (!response.ok) {
            document.getElementById("errorDialog").show()
            document.getElementById("errorDialogMessage").innerText = response.status 
        } else {
            ui("#deleteButtonSuccess")
        }
    }
</script>