<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.4.7/dist/cdn/beer.min.css" rel="stylesheet" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.4.7/dist/cdn/beer.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.0/dist/cdn/material-dynamic-colors.min.js"></script>
  </head>
  <body class="dark">
      <nav class="top left-alig">
        <div class="col s12">
          <a href="/index" class="chip">Index</a>
          {{if .Table}} 
              <a href="#!" class="chip">{{.Table}}</a> 
          {{end}}
          </div>
      </div>
    </nav>
  