{{template "header.html" .}}

<main class="responsive">
    <h1>Hello from GIN</h1>
    <div class="grid">  
        <div class="s4">  
        <table class="border">
                <thead>
                    <tr>
                        <th>Название таблицы</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Tables}}
                    <tr>
                        <td><a class="link" href="/view/{{ .String }}">{{ .String }}</a></td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        </div>
</main>

{{template "footer.html" .}}