<div class="padding top-align right-align">
<button onclick="showSaveModal()" class="extend border square round">
    <i>add</i>
    <span>New</span>
  </button>
</div>

<!-- Modal window -->
<dialog class="modal" id="saveModal">
    <h5>New item</h5>
    
    <div id="saveModalForm" class="left-align padding"></div>

    <nav class="right-align">
      <button class="border" onclick="closeSaveModal()">Cancel</button>
      <button onclick="submitSaveModal()">Submit</button>
    </nav>
  </dialog>

<div class="snackbar primary" id="saveModalSuccess">Success!</div>

<script>
    let timeColumns = ["StartTime", "EndTime", "Arrival", "UploadDate", "PurchaseDate", "EntryDate", "BirthDate"]
    let intColumns = ["AccidentID", "ShiftID", "EmpID", "ChronicID", "EquipmentID", "Price", "ReportID", "PositionID", "Salary"]

    function showSaveModal() {
        tableColumns = document.getElementsByTagName("thead").item(0).children.item(0).children

        form = document.getElementById("saveModalForm")

        for (let i = 0; i < tableColumns.length-1; i++) {
            inputType = "text"
            if (timeColumns.includes(tableColumns.item(i).innerText)) {
                inputType = "date"
            } else if (intColumns.includes(tableColumns.item(i).innerText)) {
                inputType = "number"
            }
            form.innerHTML += `
            <div class="row field label border" id="form-${tableColumns.item(i).innerText}">
                <input type="${inputType}">
                <label>${tableColumns.item(i).innerText}</label>
            </div>
            `
        }

        document.getElementById("saveModal").show()
    }

    function closeSaveModal() {
        document.getElementById("saveModalForm").innerHTML = ""
        document.getElementById("saveModal").close()
    }

    async function submitSaveModal() {
        var request = {
            method: "POST"
        }

        var body = {
            
        }

        forms = document.querySelectorAll('[id^="form-"]')

        for (let i = 0; i < forms.length; i++) {
            body[forms.item(i).children.item(1).innerText] = forms.item(i).children.item(0).value
        }
        request.body = await JSON.stringify(body)
        response = await fetch("http://localhost/save/" + document.URL.split("/").pop(), request)
        closeSaveModal()
        if (!response.ok) {
            document.getElementById("errorDialog").show()
            document.getElementById("errorDialogMessage").innerText = response.status 
        } else {
            ui("#saveModalSuccess")
        }
    }
</script>