
  <details>
    <summary><i>search</i>Search</summary>
      <div class="grid" id="field">
        <div class="row s12">
        <div class="field label suffix border s3 left max extra">
          <select>
            {{range .Columns}}
            <option value={{.}}>{{.}}</option>
            {{end}}
          </select>
          <label>Column</label>
          <i>arrow_drop_down</i>
        </div>
        
        <div class="field label suffix border s3 left max extra">
          <select>
            <option value="=">&equals;</option>
            <option value=">">&gt;</option>
            <option value="<">&lt;</option>
            <option value="LIKE">&percnt;LIKE&percnt;</option>
          </select>
          <label>Operation</label>
          <i>arrow_drop_down</i>
        </div>
        
        <div class="field textarea label border small s5 max">
          <textarea></textarea>
          <label>Value</label>
        </div>
      </div>
      </div>
      <div class="s12" id="buttons">
        <button onclick="add()" class="responsive border small">Add</button>
        <button onclick="search()" class="responsive small">Search</button>
      </div>
  </details>

  <dialog id="errorDialog">
    <h5>Error</h5>
    <div id="errorDialogMessage">Some text here</div>
    <nav class="right-align">
      <button id="errorDialogButton" onclick="closeDialog(this.id)">OK</button>
    </nav>
  </dialog>

<script>
  function add() {
    fieldCount = document.getElementsByClassName("textarea").length
    field = document.getElementById("field")
    newField = field.cloneNode(true)
    newField.id="field-"+fieldCount
    newField.getElementsByClassName("textarea").item(0).getElementsByTagName("textarea").item(0).value = ""
    document.getElementById("buttons").before(newField)
  }

  async function search() {
    var request = {
      method: "POST"
    }

    var body = {
      fields: []
    }

    fields = await document.getElementsByClassName("field")
    for (let i = 0; i < fields.length; i++) {
      select = await fields.item(i).getElementsByTagName("select")
      if (select.length != 0) {
        await body.fields.push(select.item(0).value)
        continue
      }
      await body.fields.push(fields.item(i).getElementsByTagName("textarea").item(0).value)
    }
    
    request.body= await JSON.stringify(body)
    response = await fetch(document.URL, request)
    if (!response.ok) {
      document.getElementById("errorDialog").show()
      document.getElementById("errorDialogMessage").innerText = response.status 
      return  
    } 
    json = await response.json()
    console.log(json)
    console.log(request)
    tableBody = document.getElementsByTagName("table").item(0).children.item(1)
    tableBody.innerHTML = ''
    for (let i = 0; i < json.length; i++) {
      row = document.createElement("tr")
      for (let key in json[i]) {
        cell = document.createElement("td")
        value = json[i][key]
        if (typeof(value) === 'object' && value !== null) {
          for (let name in value) {
            if (name != "Valid") {
              value = value[name]
            }
          }
        }
        cell.innerText = value
        row.appendChild(cell)
      }
      tableBody.appendChild(row)
    }
  }

  function closeDialog(clickedId) {
    document.getElementById(clickedId).parentElement.parentElement.close()
  }
</script>
