{{template "header.html" .}}

<h1>{{.Table}}</h1>

{{template "searchForm.html" .}}

<table class="border">
    <thead>
        <tr>
            {{range .Columns}}
            <th>{{.}}</th>
            {{end}}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{range .tableData}}
            <tr>
                <td>{{ .EmpID }}</td>
                <td>{{ .FullName.String }}</td>
                {{ $time := .BirthDate.Time }}
                <td>{{ $time.Year }}-{{ $time.Month }}-{{ $time.Day }}</td>
                <td>{{ .PasportSeries.String }}</td>
                <td>{{ .PasportNumber.String }}</td>
                <td>{{ .Itn.String }}</td>
                <td>{{ .Inila.String }}</td>
                <td>{{ .PhoneNumber.String }}</td>
                <td>{{ .Email.String }}</td>
                <td>{{ .AccountNumber.String }}</td>
                <td>{{ .BankDetails.String }}</td>
                <td>{{ .RegistrationAddress.String }}</td>
                <td>{{ .ResidentialAddress.String }}</td>
                <td>{{ .PersonalFile.String }}</td>
                <td>{{ .Sex.String }}</td>
                <td class="right-align">
                    <button onclick="deleteRow(this)" class="transparent circle small" id="deleteFunction">
                        <i>delete</i>
                    </button>
                </td>
            </tr>
        {{end}}
    </tbody>
</table>
{{template "saveForm.html" .}}
{{template "deleteFunction.html" .}}

{{template "footer.html" .}}