{{template "header.html" .}}

<h1>{{.Table}}</h1>

{{template "searchForm.html" .}}

<table class="border">
    <thead>
        <tr>
            {{range .Columns}}
            <th>{{.}}</th>
            {{end}}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{range .tableData}}
            <tr>
                <td>{{ .AccidentID }}</td>
                {{ $time := .StartTime.Time }}
                <td>{{ $time.Year }}-{{ $time.Month }}-{{ $time.Day }} {{ $time.Hour }}:{{ $time.Minute }}</td>
                {{ $time := .EndTime.Time }}
                <td>{{ $time.Year }}-{{ $time.Month }}-{{ $time.Day }} {{ $time.Hour }}:{{ $time.Minute }}</td>
                <td>{{ .Type.String }}</td>
                <td class="right-align">
                    <button onclick="deleteRow(this)" class="transparent circle small" id="deleteFunction">
                        <i>delete</i>
                    </button>
                </td>
            </tr>
        {{end}}
    </tbody>
</table>
{{template "saveForm.html" .}}
{{template "deleteFunction.html" .}}

{{template "footer.html" .}}